<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Podcast USA | Audio Engineer</title>
</head>
<body>
<header class="w-100 mw-100 mb-4">
    <div class="container">
        <nav class="navbar">
            <ul>
                <li class="nav-item list-unstyled">
                    <a href="https://bbillingsley.greenriverdev.com/328/application/" class="fs-6 mb-2 anchor">Podcast USA LLC</a>
                </li>
                <li class="nav-item list-unstyled">
                    <a href="https://bbillingsley.greenriverdev.com/328/application/" class="fs-5 mb-2 anchor">Audio Engineer Internship</a>
                </li>
                <li class="nav-item list-unstyled">
                    <p class="small mb-0">Seattle Washington, Paid, 12 weeks</p>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="btn btn-success" href="info">
                        APPLY NOW
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container main">
    <div class="row mt-4">
        <div class="col-md-6">
            <div>
                <h5 class="p-2 border-bottom text-center">
                    About the Internship
                </h5>
                <p>
                    Collaborate side-by-side with seasoned podcasters and audio engineers, soaking up their wisdom and
                    refining your skills under their expert guidance. Your contributions won't be limited to mastering
                    the technical aspects; you'll be part of shaping impactful content that informs, entertains, and inspires
                    audiences, leaving a lasting mark on the ever-evolving audio landscape. This internship is more than just
                    learning the ropes; it's about finding your voice and using it to make a difference, one soundbite at a time.
                </p>
                <h5 class="p-2 border-bottom text-center">More About Us</h5>
                <p>
                    At Podcast USA, we're united by a fiery passion for weaving captivating stories through the magic of audio.
                    Every member of our diverse team holds a deep commitment to crafting shows of unmatched quality, where each
                    voice and perspective is welcomed and celebrated. We stand firm in the belief that podcasts transcend the
                    four walls of the studio, sparking crucial conversations, challenging entrenched viewpoints, and igniting
                    positive change across the world.
                </p>
                <h5 class="p-2 border-bottom text-center">Meet Our Team</h5>
                <blockquote class="indent">
                    "We pride ourselves with producing quality driven media focused on making positive differences in meaningful
                    and intimate ways."
                    <footer class="blockquote-footer p-2 mt-1">
                        Braedon Billingsley, Chief Executive Podcaster
                    </footer>
                </blockquote>
                <blockquote class="indent">
                    "You have to work hard and keep applying! One day I'll see your application and hire you on my team!"
                    <footer class="blockquote-footer p-2 mt-1">
                        John Doe, Senior Audio Engineer
                    </footer>
                </blockquote>
                <blockquote class="indent border-bottom">
                    "Wow, I have learned so much about engineering sounds and integrating it with other media. I highly recommend Podcast USA for all your podcast needs!"
                    <footer class="blockquote-footer p-2 mt-1">
                        Susie Noname, Jr. Audio Engineer
                    </footer>
                </blockquote>
                <div class="text-center mt-4 mb-4">
                    <a href="info" class="btn btn-success">
                        APPLY NOW
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="cover-image rounded" src="./images/close-up-microphone-pop-filter.jpg" alt="Close up of a microphone pop filter positioned on the right side of the page.">
        </div>
    </div>
</div>
<footer class="copyright text-center">
</footer>
</body>
</html>