<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Audio Engineer | Experience</title>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <ul class="m-3 mb-0 pb-1 pt-0 p-4">
            <li class="nav-item list-unstyled mb-2">
                <a href="https://bbillingsley.greenriverdev.com/328/application/" class="fs-6 anchor">Podcast USA LLC</a>
            </li>
            <li class="nav-item list-unstyled mb-2">
                <a href="https://bbillingsley.greenriverdev.com/328/application/" class="fs-5 anchor">Audio Engineer Internship</a>
            </li>
            <li class="nav-item list-unstyled">
                <p class="small">Seattle Washington, Paid, 12 weeks</p>
            </li>
        </ul>
    </nav>
    <div class="main align-items-start p-4">
        <form action="mail" method="post" class="form-horizontal">
            <div class="col-lg-12">
                <label class="form-label mb-0 display-6">
                    <strong>Job Openings Mailing Lists</strong>
                </label>
                <hr class="mt-2">
                <div class="">
                    <div class="col-lg-12">
                        <div class="form-group">

                            <label class="form-label fw-bold">Software Development Jobs</label><br/>
                            <div class="row">
                                <div class="col-3">
                                    <input type="checkbox" id="javascript" name="tech-javascript">
                                    <label class="form-check-label" for="javascript">JavaScript</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" id="php" name="tech-php">
                                    <label class="form-check-label" for="php">PHP</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" id="java" name="tech-java">
                                    <label class="form-check-label" for="java">Java</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" id="python" name="tech-python">
                                    <label class="form-check-label" for="python">Python</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <input type="checkbox" id="html" name="tech-html">
                                    <label class="form-check-label" for="html">HTML</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" id="css" name="tech-css">
                                    <label class="form-check-label" for="css">CSS</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" id="reactjs" name="tech-reactjs">
                                    <label class="form-check-label" for="reactjs">ReactJS</label>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" id="nodejs" name="tech-nodejs">
                                    <label class="form-check-label" for="nodejs">NodeJs</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-label fw-bold mt-1">Industry Verticals</label><br>

                            <div class="row">
                                <div class="col-3">
                                    <input type="checkbox" id="saas" name="ind-saas">
                                    <label class="form-check-label" for="saas">SaaS</label>
                                </div>

                                <div class="col-3">
                                    <input type="checkbox" id="health-tech" name="ind-health-tech">
                                    <label class="form-check-label" for="health-tech">Health tech</label>
                                </div>

                                <div class="col-3">
                                    <input type="checkbox" id="ag-tech" name="ind-ag-tech">
                                    <label class="form-check-label" for="ag-tech">Ag tech</label>
                                </div>

                                <div class="col-3">
                                    <input type="checkbox" id="hr-tech" name="ind-hr-tech">
                                    <label class="form-check-label" for="hr-tech">HR tech</label><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <input type="checkbox" id="industrial-tech" name="ind-industrial-tech">
                                    <label class="form-check-label" for="industrial-tech">Industrial tech</label>
                                </div>

                                <div class="col-3">
                                    <input type="checkbox" id="cyber-security" name="ind-cyber-security">
                                    <label class="form-check-label" for="cyber-security">Cybersecurity</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-end">
                            <button type="submit" class="btn btn-success fw-bold" id="submit-button">
                                Next >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer class="copyright text-center">
</footer>
</body>
</html>