/**
 * This is the css STYLES for the job application app.
 *
 * https://www.bbillingsley.greenriverdev.com/328/application
 *
 * @author Braedon Billingsley
 */

nav {
    background-color: #FFFFFF;
}

p {
    font-size: 1rem;
}

.anchor {
    color: inherit;
    text-decoration: none;
}

.copyright {
    padding: 16px;
    background-color: #E8E8E8;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.main {
    background-color: #F9F9F9;
    padding-top: 4px;
}

.form-check-label,
input[type="checkbox"] {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.form-group .form-check {
    display: flex;
}

#submit-button {
    width: 100%;
    max-width: 33.33%;
    white-space: nowrap;
    overflow: hidden;
}
