<!--
    This is my EXPERIENCE view for the application app.

    https://www.bbillingsley.greenriverdev.com/328/application/experience

    @author Braedon Billingsley
-->
<!DOCTYPE html>
<html lang="en">

<!--HEADER-->
<include href="app/views/header.html"></include>

<body>

<!-- MAIN CONTAINER -->
<div class="container">

    <!-- NAVBAR -->
    <nav class="navbar">
        <include href="app/views/nav.html"></include>
    </nav>

    <!-- EXPERIENCE form fields -->
    <div class="main align-items-start p-4">
        <form action="experience" method="post" class="form-horizontal">
            <div class="col-lg-12">

                <!-- TITLE of page -->
                <label class="form-label mb-0 display-6">
                    <strong>Experience</strong>
                </label>
                <hr class="mt-2">
                <div class="row">

                    <!-- BIOGRAPHY form field -->
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for='bio' class="form-label fw-bold">Biography</label>
                            <textarea class="form-control pb-3" id="bio" name="bio" rows="9"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-4">

                        <!-- GITHUB form field -->
                        <div class="form-group mb-3">
                            <label for="github" class="form-label fw-bold">Github Link</label>
                            <input type="text" class="form-control w-100" id="github" name="github" placeholder="github.com/my_github">
                        </div>

                        <!-- YEARS-EXPERIENCE form field -->
                        <div class="form-group mb-3">
                            <label class="form-label mb-0 fw-bold">Years Experience</label><br>

                            <input class="p-1" type="radio" id="xp-1" name="experience" value="0-2" required>
                            <label class="p-1" for="xp-1">0-2</label>

                            <input class="p-1" type="radio" id="xp-2" name="experience" value="2-4" required>
                            <label class="p-1" for="xp-2">2-4</label>

                            <input class="p-1" type="radio" id="xp-3" name="experience" value="4+" required>
                            <label class="p-1" for="xp-3">4+</label>
                            <!-- Error message for experience -->
                            <check if="{{ @experience_error }}">
                                <p class="text-danger">{{ @experience_error }}</p>
                            </check>
                        </div>

                        <!-- RELOCATE form field -->
                        <div class="form-group mb-3">
                            <label class="form-label mb-0 fw-bold">Willing To Relocate</label><br>

                            <input class="p-1" type="radio" id="relocate-yes" name="relocate" value="yes">
                            <label class="p-1" for="relocate-yes">Yes</label>

                            <input class="p-1" type="radio" id="relocate-no" name="relocate" value="no">
                            <label class="p-1" for="relocate-no">No</label>

                            <input class="p-1" type="radio" id="relocate-maybe" name="relocate" value="maybe">
                            <label class="p-1" for="relocate-maybe">Maybe</label>
                        </div>

                        <!-- SUBMIT -->
                        <div class="form-group">
                            <button type="submit" class="fw-bold btn btn-success w-100">
                                Next >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--FOOTER-->
<include href="app/views/footer.html"></include>
</body>
</html>