<!--
    This is my HOME view for the application app.

    https://www.bbillingsley.greenriverdev.com/328/application

    @author Braedon Billingsley
-->
<!DOCTYPE html>
<html lang="en">

<!--HEADER-->
<include href="app/views/header.html"></include>

<!--BODY-->
<body>

<!-- MAIN CONTAINER -->
<div class="container">

    <!-- NAVBAR -->
    <nav class="navbar">
        <!--NAV-->
        <include href="app/views/nav.html"></include>

        <!--APPLY-->
        <include href="app/views/nav-apply.html"></include>
    </nav>

    <!-- JOB DESCRIPTION -->
    <div class="main p-4">
        <div class="row">
            <div class="col-lg-6 ">

                <!-- ABOUT -->
                <div class="m-3 mt-0">
                    <h3 class="text-center fw-normal">
                        About the Internship
                    </h3>
                    <hr class="mt-2">
                    <p>
                        Collaborate side-by-side with seasoned podcasters and audio engineers, soaking up their wisdom and
                        refining your skills under their expert guidance. Your contributions won't be limited to mastering
                        the technical aspects; you'll be part of shaping impactful content that informs, entertains, and inspires
                        audiences, leaving a lasting mark on the ever-evolving audio landscape. This internship is more than just
                        learning the ropes; it's about finding your voice and using it to make a difference, one soundbite at a time.
                    </p>

                    <!-- MORE ABOUT -->
                    <h3 class="text-center fw-normal mt-5">More About Us</h3>
                    <hr class="mt-2">
                    <p>
                        At Podcast USA, we're united by a fiery passion for weaving captivating stories through the magic of audio.
                        Every member of our diverse team holds a deep commitment to crafting shows of unmatched quality, where each
                        voice and perspective is welcomed and celebrated. We stand firm in the belief that podcasts transcend the
                        four walls of the studio, sparking crucial conversations, challenging entrenched viewpoints, and igniting
                        positive change across the world.
                    </p>

                    <!-- MEET THE TEAM -->
                    <h3 class="text-center fw-normal mt-5">Meet Our Team</h3>
                    <hr class="mt-2">
                </div>

                <!-- COMPANY QUOTES -->
                <div class="m-5 mb-0 mt-0">

                    <!-- QUOTE 1 -->
                    <blockquote class="fst-italic">
                        "We pride ourselves with producing quality driven media focused on making positive differences in meaningful
                        and intimate ways."
                        <footer class="blockquote-footer p-2 mt-1">
                            Braedon Billingsley, Chief Executive Podcaster
                        </footer>
                    </blockquote>

                    <!-- QUOTE 2 -->
                    <blockquote class="fst-italic">
                        "You have to work hard and keep applying! One day I'll see your application and hire you on my team!"
                        <footer class="blockquote-footer p-2 mt-1">
                            John Doe, Senior Audio Engineer
                        </footer>
                    </blockquote>

                    <!-- QUOTE 3 -->
                    <blockquote class="fst-italic">
                        "Wow, I have learned so much about engineering sounds and integrating it with other media. I highly recommend Podcast USA for all your podcast needs!"
                        <footer class="blockquote-footer p-2 mt-1">
                            Susie Noname, Jr. Audio Engineer
                        </footer>
                    </blockquote>
                </div>

                <!-- APPLY NOW -->
                <div class="text-center mb-4">
                    <hr class="mt-2">
                    <a href="info" class="btn btn-success">
                        APPLY NOW
                    </a>
                </div>
            </div>

            <!-- IMAGE -->
            <div class="col-lg-6 text-center">
                <img class="img-fluid rounded" src="public/images/microphone.png" alt="Close up of a microphone pop filter positioned on the right side of the page.">
            </div>
        </div>
    </div>
</div>

<!--FOOTER-->
<include href="app/views/footer.html"></include>
</body>
</html>