<!--
    This is my MAILING-LIST view for the application app.

    https://www.bbillingsley.greenriverdev.com/328/application/mail

    @author Braedon Billingsley
-->
<!DOCTYPE html>
<html lang="en">

<!--HEADER-->
<include href="app/views/header.html"></include>

<body>

<!-- MAIN CONTAINER -->
<div class="container">

    <!-- NAVBAR -->
    <nav class="navbar">
        <include href="app/views/nav.html"></include>
    </nav>

    <!-- MAILING-LIST form fields -->
    <div class="main align-items-start p-4">
        <form action="mail" method="post" class="form-horizontal">
            <div class="col-lg-12">

                <!-- TITLE of page -->
                <label class="form-label mb-0 display-6">
                    <strong>Job Openings Mailing Lists</strong>
                </label>
                <hr class="mt-2">
                <div>
                    <div class="col-lg-12">

                        <!-- SOFTWARE DEVELOPMENT JOBS form group -->
                        <div class="form-group">
                            <label class="form-label fw-bold">Software Development Jobs</label><br/>
                            <div class="row">

                                <!-- JAVASCRIPT field -->
                                <div class="col-3">
                                    <input type="checkbox" id="javascript" name="tech[]" value="JavaScript">
                                    <label class="form-check-label" for="javascript">JavaScript</label>
                                </div>

                                <!-- PHP field -->
                                <div class="col-3">
                                    <input type="checkbox" id="php" name="tech[]" value="PHP">
                                    <label class="form-check-label" for="php">PHP</label>
                                </div>

                                <!-- JAVA field -->
                                <div class="col-3">
                                    <input type="checkbox" id="java" name="tech[]" value="Java">
                                    <label class="form-check-label" for="java">Java</label>
                                </div>

                                <!-- PYTHON field -->
                                <div class="col-3">
                                    <input type="checkbox" id="python" name="tech[]" value="Python">
                                    <label class="form-check-label" for="python">Python</label>
                                </div>
                            </div>
                            <div class="row">

                                <!-- HTML field -->
                                <div class="col-3">
                                    <input type="checkbox" id="html" name="tech[]" value="HTMl">
                                    <label class="form-check-label" for="html">HTML</label>
                                </div>

                                <!-- CSS field -->
                                <div class="col-3">
                                    <input type="checkbox" id="css" name="tech[]" value="CSS">
                                    <label class="form-check-label" for="css">CSS</label>
                                </div>

                                <!-- REACT.JS field -->
                                <div class="col-3">
                                    <input type="checkbox" id="reactjs" name="tech[]" value="React JS">
                                    <label class="form-check-label" for="reactjs">ReactJS</label>
                                </div>

                                <!-- NODE.JS field -->
                                <div class="col-3">
                                    <input type="checkbox" id="nodejs" name="tech[]" value="Node JS">
                                    <label class="form-check-label" for="nodejs">NodeJs</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- INDUSTRY VERTICALS fields -->
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-label fw-bold mt-1">Industry Verticals</label><br>
                            <div class="row">

                                <!-- SAAS field -->
                                <div class="col-3">
                                    <input type="checkbox" id="saas" name="ind[]" value="SaaS">
                                    <label class="form-check-label" for="saas">SaaS</label>
                                </div>

                                <!-- HEALTH-TECH field -->
                                <div class="col-3">
                                    <input type="checkbox" id="health-tech" name="ind[]" value="Health Tech">
                                    <label class="form-check-label" for="health-tech">Health tech</label>
                                </div>

                                <!-- AG-TECH field -->
                                <div class="col-3">
                                    <input type="checkbox" id="ag-tech" name="ind[]" value="AG Tech">
                                    <label class="form-check-label" for="ag-tech">Ag tech</label>
                                </div>

                                <!-- HR-TECH field -->
                                <div class="col-3">
                                    <input type="checkbox" id="hr-tech" name="ind[]" value="HR Tech">
                                    <label class="form-check-label" for="hr-tech">HR tech</label><br>
                                </div>
                            </div>
                            <div class="row">

                                <!-- INDUSTRIAL-TECH field -->
                                <div class="col-3">
                                    <input type="checkbox" id="industrial-tech" name="ind[]" value="Industrial Tech">
                                    <label class="form-check-label" for="industrial-tech">Industrial tech</label>
                                </div>

                                <!-- CYBERSECURITY field -->
                                <div class="col-3">
                                    <input type="checkbox" id="cyber-security" name="ind[]" value="Cybersecurity">
                                    <label class="form-check-label" for="cyber-security">Cybersecurity</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SUBMIT -->
                    <div class="row">
                        <div class="col-lg-12 text-end">
                            <button type="submit" class="btn btn-success fw-bold" id="submit-button">
                                Next >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--FOOTER-->
<include href="app/views/footer.html"></include>
</body>
</html>