<!--
    This is my PERSONAL-INFO view for the application app.

    https://www.bbillingsley.greenriverdev.com/328/application/personal-info

    @author Braedon Billingsley
-->
<!DOCTYPE html>
<html lang="en">

<!--HEADER-->
<include href="app/views/header.html"></include>

<!--BODY-->
<body>

<!-- MAIN CONTAINER -->
<div class="container">

    <!-- NAVBAR -->
    <nav class="navbar">
        <include href="app/views/nav.html"></include>
    </nav>

    <!-- PERSONAL-INFO form fields -->
    <div class="main d-flex align-items-start p-4">
        <form action="info" method="post" class="form-horizontal">
            <div class="col-lg-12">

                <!-- TITLE of page -->
                <label class="form-label mb-0 display-6">
                    <strong>Personal Information</strong>
                </label>
                <hr class="mt-2">
                <div class="row">
                    <div class="col-lg-8 mb-auto">
                        <div class="row">

                            <!-- FIRST-NAME form field -->
                            <div class="col-lg-6">
                                <label for="first-name" class="form-label fw-bold">First Name</label>
                                <input type="text" class="form-control" id="first-name" name="first_name" placeholder="Sarah" required>
                                <!-- Error message for first name -->
                                <check if="{{ @first_name_error }}">
                                    <p class="text-danger">{{ @first_name_error }}</p>
                                </check>
                            </div>

                            <!-- LAST-NAME form field -->
                            <div class="col-lg-6">
                                <label for="last-name" class="form-label fw-bold">Last Name</label>
                                <input type="text" class="form-control" id="last-name" name="last_name" placeholder="Smith" required>
                                <!-- Error message for last name -->
                                <check if="{{ @last_name_error }}">
                                    <p class="text-danger">{{ @last_name_error }}</p>
                                </check>
                            </div>

                            <!-- EMAIL form field -->
                            <div class="col-lg-12">
                                <label for="email" class="form-label fw-bold mt-2">Email</label>
                                <input type="text" class="form-control w-100" id="email" name="email" placeholder="my.email@gmail.com" required>
                                <!-- Error message for email -->
                                <check if="{{ @email_error }}">
                                    <p class="text-danger">{{ @email_error }}</p>
                                </check>
                            </div>
                        </div>
                        <div class="row">

                            <!-- STATE form field -->
                            <div class="col-lg-6 form-group">
                                <label class="form-label fw-bold mt-2" for="state">State</label>
                                <select class="custom-select form-control" id="state" name="state">
                                    <option value="Washington" selected>Washington</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>

                            <!-- PHONE form field -->
                            <div class="col-lg-6 mt-2">
                                <label for="phone" class="form-label fw-bold">Phone</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="222-333-4444" required>
                                <!-- Error message for phone -->
                                <check if="{{ @phone_error }}">
                                    <p class="text-danger">{{ @phone_error }}</p>
                                </check>
                            </div>

                            <!-- MAILING LIST field -->
                            <div class="col-lg-6 mt-2">
                                <p class="form-label mb-1 fw-bold">Mailing Lists</p>
                                <div class="row checkbox-row">
                                    <div class="form-check-inline">
                                        <input type="checkbox" class="form-check-input" id="mailing" name="mailing">
                                        <label class="form-check-label" for="mailing">Sign me up for job openings mailing lists!</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Closing Notes -->
                    <div class="col-lg-4">
                        <div class="row d-flex align-content-between pt-4 mt-1">
                            <div class="col-lg-12 bg-dark-subtle p-0 pb-3">
                                <p class="p-3 m-0">
                                    <strong>Note:</strong> All information entered is protected by our
                                    <strong>privacy policy.</strong> Profile information can only be viewed
                                    by others with your permission.
                                </p>
                            </div>

                            <!-- SUBMIT -->
                            <div class="col-lg-12 p-0 pt-3 mt-4">
                                <button type="submit"  class="fw-bold btn btn-success w-100">
                                    Next >
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--FOOTER-->
<include href="app/views/footer.html"></include>
</body>
</html>