<!--
    This is my SUMMARY view for the application app.

    https://www.bbillingsley.greenriverdev.com/328/application/summary

    @author Braedon Billingsley
-->
<!DOCTYPE html>
<html lang="en">

<!--HEADER-->
<include href="app/views/header.html"></include>

<body>

<!-- MAIN CONTAINER -->
<div class="container">

    <!-- NAVBAR -->
    <nav class="navbar">
        <include href="app/views/nav.html"></include>
    </nav>

    <!-- SUMMARY of FORM FIELDS -->
    <div class="main align-items-start p-4">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 border">
                    <div class="form-group">
                        <p><strong>Name:</strong>
                            {{ @first_name . " " . @last_name}}
                        </p>
                        <hr class="opacity-75">
                        <p><strong>Email:</strong>
                            {{ @email }}
                        </p>
                        <hr class="mt-2">
                        <p><strong>State:</strong>
                            {{ isset(@state) ? @state : 'Not provided' }}
                        </p>
                        <hr class="opacity-75">
                        <p><strong>Phone:</strong>
                            {{ @phone }}
                        </p>
                        <hr class="mt-2">
                    </div>
                    <div class="form-group">
                        <p><strong>GitHub Link:</strong>
                            {{ isset(@github) ? @github : 'Not provided' }}
                        </p>
                        <hr class="opacity-75">
                        <p><strong>Experience:</strong>
                            {{ @experience }}
                        </p>
                        <hr class="mt-2">
                        <p><strong>Willing to Relocate:</strong>
                            {{ isset(@relocate) ? @relocate : 'Not provided' }}
                        </p>
                        <hr class="opacity-75">
                        <p><strong>Mailing Lists:</strong>
                            {{ is_array(@selected_technologies) && count(@selected_technologies)
                            ? implode(', ', array_map('ucfirst', @selected_technologies))
                            : 'Not provided' }}
                        </p>
                        <p><strong>Industry Lists:</strong>
                            {{ is_array(@selected_industries) && count(@selected_industries)
                            ? implode(', ', array_map('ucfirst', @selected_industries))
                            : 'Not provided' }}
                        </p>
                        <hr class="mt-2">
                    </div>
                </div>
                <div class="col-lg-6">

                    <!-- IMAGE -->
                    <div class=" mb-3">
                        <img class="img-fluid rounded" src="public/images/headprofile.png" alt="mystery head">
                    </div>

                    <!-- BIOGRAPHY SUMMARY -->
                    <div class="form-group">
                        <h3>Summary</h3>
                        <p>{{ isset(@bio) ? @bio : 'Not provided' }}</p>
                    </div>
                </div>
                <div class="row w-100 mx-auto">

                    <!-- SUBMIT APP -->
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="fw-bold btn btn-success w-75">
                            Submit My Application!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--FOOTER-->
<include href="app/views/footer.html"></include>

</body>
</html>
