header {
    height: 100px;
    background-color: #FFFFFF;
}

.indent {
    margin-left: 20px;
    margin-bottom: auto;
    font-size: 0.8rem;
    font-style: italic;
    border-bottom: none;
    border-top: none;
}

.copyright {
    padding: 16px;
    background-color: #E8E8E8;
    height: 50px;
    z-index: -1;
    position: absolute;
}

.cover-image {
    width: 524px;
    float: right;
}


p {
    font-size: 1rem;
}

.main {
    background-color: #F9F9F9;
    padding-top: 4px;
}

