blockquote {
    margin-left: 20px;
    font-size: 0.8rem;
    font-style: italic;
    border-bottom: none;
    border-top: none;
}

header {
    height: 100px;
    background-color: #FFFFFF;
}

.copyright {
    padding: 16px;
    background-color: #E8E8E8;
    height: 50px;
}

.cover-image {
    width: 524px;
    float: right;
}

.row-height {
    height: calc(100vh - 100px);
}

p {
    font-size: 0.8rem;
}

.main {
    background-color: #F9F9F9;
    padding-top: 4px;
}

